[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyserini = "==0.19.1"
faiss-cpu = "==1.7.3"
matplotlib = "*"
tensorflow = "*"
tensorflow-addons = "*"
torch = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.8"
