[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyserini = "==0.19.1"
faiss-cpu = "==1.7.3"
transformers = "*"
simpletransformers = "*"
googletrans = "==4.0.0rc1"
async-google-trans-new = "*"
matplotlib = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.8"
