[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
name = "pytorch"
url = "https://download.pytorch.org/whl/cu116"
verify_ssl = false

[packages]
pyserini = "==1.19.2"
faiss-cpu = "*"
matplotlib = "*"
torch = {version="==1.12.0+cu116", index="pytorch"}

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.8"
